@{
    ViewData["Title"] = "Home Page";
}
<link href="~/css/Index.css" rel="stylesheet" />

<section class="presentation">
    <div class="introduction">
        <div class="intro-text">
            <h1>Laptop for the future</h1>
            <p>The new Dell 15 XPS offering a 4k display with touch screen.</p>
        </div>
        <div class="cta">
            <button class="cta-select">Add to cart</button>
            <button class="cta-add">Details</button>
        </div>
    </div>
    <div class="cover">
        <img src="~/images/siteImages/lapok.png" alt="matebook" />
    </div>
</section>
@section Scripts{

}