@model int
@using Microsoft.AspNetCore.Identity
@using OnlineShop.Infrastructure
@inject SignInManager<UserData> SignInManager

@if (Model > 0 && SignInManager.IsSignedIn(User))
{
    <a asp-controller="Cart" asp-action="Index">
        <i class="fas fa-shopping-cart"></i>
        <span id="cart-status">
            @Model
        </span>
    </a>
}
