<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Sklep #</title>

    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" integrity="sha256-h20CPZ0QyXlBuAw7A+KluUYx/3pK+c7lYEpqLTlxjYQ=" crossorigin="anonymous" />
    <link rel="stylesheet" href="~/css/Layout.css" />
    <link href="https://fonts.googleapis.com/css2?family=Baloo+2&family=Montserrat&family=Raleway&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.css" integrity="sha256-qvCL5q5O0hEpOm1CgOLQUuHzMusAZqDcAZL9ijqfOdI=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" integrity="sha256-kksNxjDRxd/5+jGurZUJd1sdR2v+ClrCl3svESBaJqw=" crossorigin="anonymous" />
</head>
<body>
    <header>

        <nav>
            <ul class="nav-links">
                <li><a class="nav-link" asp-action="Index" asp-controller="Home">Home</a></li>
                <li><a class="nav-link" asp-action="Index" asp-controller="Products">Products</a></li>
                <li><a class="nav-link" href="#">About us</a></li>
                <li class="navbar navbar-expand">
                    @*class="navbar navbar-expand-lg"*@
                    @if (User.IsInRole("Admin"))
                    {
                        <div class="dropdown">
                            <a class="nav-link dropdown-toggle" href="/posts" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-target="#my-target">
                                Manage
                            </a>
                            <div id="my-target" class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" asp-action="Index" asp-controller="Administration">Products</a>
                                <a class="dropdown-item" asp-action="Orders" asp-controller="Administration">Orders</a>
                            </div>
                        </div>
                    }
                </li>
            </ul>
        </nav>
        <partial name="_LoginPartial" />
        <div class="cart">
            @await Component.InvokeAsync("ShoppingCartSummary")
        </div>

    </header>




    <main role="main" class="pb-3 main">
        @RenderBody()
    </main>






    <footer id="footer">
        <div class="container">
            <div class="info">
                <h1 class="footer_h">Sklep elektroniczny</h1>
                <p class="footer_p">Firma dostarczająca najwyższej jakości produkty<br /> Nr 1 wśród niezadowolonych klientów</p>
            </div>
            <div class="news">
                <h1 class="footer_h">Newslatter</h1>
                <input type="text" class="form-control nizej" placeholder="Email" style="height:42px;" />
            </div>
            <div class="contact">
                <h1 class="footer_h">Skontakuj się</h1>
                <div class="footer-links">
                    <span class="footer_p"><i class="fas fa-envelope-open"></i>  SklepZLapkami@gmail.com</span><br />
                    <span class="footer_p"><i class="fas fa-phone-square-alt"></i> 598 123 321</span>
                </div>
            </div>
        </div>
    </footer>





    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <!--owl carousel js file-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha256-pTxD+DSzIwmwhOqTFN+DB+nHjO4iAsbgfyFq5K5bcE0=" crossorigin="anonymous"></script>

    <!--isotope script-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/3.0.6/isotope.pkgd.min.js" integrity="sha256-CBrpuqrMhXwcLLUd5tvQ4euBHCdh7wGlDfNz8vbu/iI=" crossorigin="anonymous"></script>



    @RenderSection("Scripts", required: false)
</body>
</html>
