@model OnlineShop.Domain.Models.Order

    <p style="text-align:center;" class="text-danger">@ViewBag.ErrorEmptyCart</p>

        <div class="container">
            <div class="col-md-8 order-md-1">
                <h4 class="mb-3">Billing address</h4>
                <form class="needs-validation" asp-action="Checkout" method="post" role="form">
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label asp-for="FirstName"></label>
                            <input type="text" class="form-control" id="firstName" asp-for="FirstName">
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label asp-for="LastName"></label>
                            <input type="text" class="form-control" id="firstName" asp-for="LastName">
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Email"></label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="Email" asp-for="Email">
                        </div>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="PhoneNumber"></label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="PhoneNumber" asp-for="PhoneNumber">
                        </div>
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="AdressLine"></label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="AdressLine" asp-for="AdressLine">
                        </div>
                        <span asp-validation-for="AdressLine" class="text-danger"></span>
                    </div>
                    <div class="row">
                        <div class="col-md-5 mb-3">
                            <label asp-for="Country"></label>
                            <input type="text" class="form-control" id="Country" asp-for="Country">
                            <span asp-validation-for="Country" class="text-danger"></span>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label asp-for="City"></label>
                            <input type="text" class="form-control" id="City" asp-for="City">
                            <span asp-validation-for="City" class="text-danger"></span>
                        </div>
                        <div class="col-md-3 mb-3">
                            <label asp-for="ZipCode"></label>
                            <input type="text" class="form-control" id="ZipCode" asp-for="ZipCode">
                            <span asp-validation-for="ZipCode" class="text-danger"></span>
                        </div>
                        </div>
                    <button type="submit" class="btn btn-success mt-3" value="Complete Order" asp-controller="Checkout" asp-action="Order">Complete order</button>
                </form>
            </div>
        </div>
