@{
    ViewData["Title"] = "CheckoutComplete";
}
<link href="~/css/CartStyle.css" rel="stylesheet" />
<p class="empty">@ViewBag.CheckoutCompleteMessage!</p>

@section Scripts{
    <script src="~/js/ProductList.js"></script>
}